<%- include("./partials/header") %>

    <div class="container full-screen d-flex align-items-center justify-content-center">
        <div class="alert alert-danger" role="alert">
            Invalid Email or OTP ! please enter valid details
        </div>
    </div>

<%- include("partials/footer") %>