<%- include("./partials/header") %>

    <div class="container full-screen d-flex align-items-center justify-content-center">
        <div class="alert alert-success " role="alert">
            Email verification successful !
        </div>
    </div>

<%- include("partials/footer") %>